@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    font-family: 'Libre Baskerville', serif;
    color: grey;
    font-size: 12px;
    
}

html, body{
    padding:0;
    margin:0;
}

header{
    background-image: url("../img/huntington.png");
    height: 180px;
    background-size: cover;
    text-align: center;
    padding-top:70px;
    
}

h1{
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: honeydew;
}

h1::before{
background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 80px;
    height: 80px;
    margin: -20px 20px 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h2 {  
    font-size: 16px;
    font-style: italic;
    color: rgb(200, 235, 210);
}


h1, h2 {    
    padding: 0 10%;
    margin: 0;
    font-weight: normal;    
}

h2::before {
    content: " ";
    padding: 50px;
}

a{
    text-decoration: none;
    color: #0d8ba1
}

h3{

    text-transform: uppercase;
    
    padding: 0px 110px 0px 110px;
    font-size: 1.3em;
}
p {
    line-height: 2;
    padding: 0px 100px 0px 100px;
    
}
ul {
    line-height: 2;
    padding: 0px 100px 0px 100px;
    
}

div{
    display: block;
    padding: 5px 0;
    
}
/* 
abbr {
    form
} */

div.participation, div.benefits, div.zen-resources {
    background-image: url("../img/bamboo.png");
    background-attachment:  fixed;
    background-color: rgba(138,188,159,0.5);
    background-repeat:  no-repeat;
    background-size: cover;

}

footer{
    background-color: #134347;
    height: 100px ;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0 150px;
}

footer a{
    height: 50px;
    width: 50px;
    font-size: 50px;
}


#design-selection .design-name{
    display: block;
    font-family: 'Julius Sans One', sans-serif;;
    text-transform: uppercase;
    font-size: 1.3em;

}

#design-selection li{
    display: block;
    text-align: left;    
    padding: 20px 0px 20px 0px;
    width:50%;
    border-top: 1px solid rgb(199, 199, 199);

}
#design-selection ul{
   
    list-style: none;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap; 
}

#zen-resources a{
    display: block;
    font-family: 'Julius Sans One', sans-serif;;
    text-transform: uppercase;
    font-size: 1.3em;

}

#zen-resources li{
    display: block;
    text-align: left;    
    padding: 20px 0px 20px 0px;
    width:50%;
    
    border-top: 1px solid rgb(199, 199, 199);

}
#zen-resources ul{

    list-style: none;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap; 
}

[role="presentation"]{
    height:0;
    padding: 0;
}

.design-archives h3 {
    display: none;
}

.design-archives ul{
    display:block;
    line-height: 1em;
}

.design-archives {
    position: absolute;
    top: 200px;
    right: 0;
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,0.2);
    list-style: none;
   
}

.design-archives a{
display:flex;    
align-items: center;
justify-content:center;
text-decoration: none;
}

.design-archives  .next{
    position:absolute;
    right:0;
    font-size: 2em;
    list-style: none;
} 

.design-archives  .viewall{
    position:absolute;
    left:0;
    font-size: 2em;
    text-align: center;
    width:70%;
} 